<div class="globalNote">
    <div class="row">
        <div class="align-left">
            <div class="logo">
            </div>
        </div>
        <div class="align-right ghost-center">
            <p>{Isin}</p>
        </div>
    </div>
    

    <div class="row vertical-space-large">
        <div class="item-centered issuer">{Issuer}</div>
    </div>

    <div class="row vertical-space-medium">
        <div class="item-centered product-name">{ProductName}</div>
    </div>
    
    <div class="row">
        <div class="item-centered text">Nejaky certifikat</div>
    </div>

    
    <div class="row">
        <div class="item-centered text">This global bearer certificate represents certificate rights of</div>
    </div>

    <div class="row">
        <div class="item-centered text">up to</div>
    </div>

    <div class="row">
        <div class="item-centered load2">
            bis-zu <span style="font-weight: 800;">{NumberOfShares}</span>
        </div>
    </div>

    <div class="row">
        <div class="item-centered text">certificates as per attached Terms and Conditions.</div>
    </div>


    <div class="row">
        <div class="item-centered text">
            The validated amount of this Global Certificate is evidenced by the latest daily account statement and confirmed by the current IT documentation of Clearstream Banking AG
        </div>
    </div>

    

    <div class="row">
        <div class="item-centered text">
            On behalf of the issuer in order to effectuate this global certificate Clearstream Banking AG
        </div>
    </div>


    <div class="row vertical-space-medium">
        <div class="item-centered text">
           <b> Frankfurt am Main, {ShortDate}</b>
        </div>
    </div>

    <div class="row vertical-space-medium">
        <div class="inline-block-center">
            <div class="align-left">
                <div class="new-issues-signature"></div>
            </div>
            <div class="align-right">
                <div class="printer-signature"></div>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="inline-block-center">
            <div class="text untershift">Signature</div>
        </div>
    </div>
       
    <!--<footer>&copy; {Footer}</footer>-->

    <div class="break"></div>
</div>
